@charset "UTF-8";
@import url("./vars.css");
@import url("../core-css/viewport.css");
@import url("../core-css/rem.css");
@import url("../core-css/element.css");
@import url("../core-css/class-rules.css");
@import url("../core-css/animations.css");
@import url("../core-css/fonts.css");
@import url("./layout.css");

timecard-table {
	display: inline-block;
	max-height: 60vh;
	overflow: auto;
	margin: 4rem;
	scrollbar-color: #646464 lightgray;
	scrollbar-width: thin;
}
