@import url("./header.css");
@import url("./nav.css");
@import url("./main.css");
@import url("./footer.css");

body.grid {
	grid-template-columns: 8px 1fr 8px;
	grid-template-rows: var(--header-height) var(--nav-height) 1fr var(--footer-height);
	grid-template-areas: 'header header header'
	'nav nav nav'
	'. main .'
	'footer footer footer';
}

@media (min-width: 500px) {
	body.grid {
		grid-template-columns: 2rem 1fr 2rem;
	}
}
