main {
	grid-area: main;
	grid-template-columns: repeat(auto-fill, minmax(100px, 350px));
	grid-gap: 0.3rem;
	overflow: auto;
}

@media (min-width: 500px) {
	main {
		margin: 1.2rem;
	}
}

clock-io, timecard-table {
	margin-top: 1.3rem;
}

timecard-table {
	display: inline-block;
	max-height: 60vh;
	overflow: auto;
	scrollbar-color: #646464 lightgray;
	scrollbar-width: thin;
}
